.cardtwo{
    display: inline-block;
    width: 530px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 5px;
    margin-top: 60px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(153, 149, 149);

    
}

.cardtwo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.imgCardtwo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 220px;
}

.imgCard{
    width: 330;
    height: 220px;
}

h4{
    font-weight: 600;
    color: black;
}

p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

span{
    font-weight: bold;
    color: black;
}

h1{
    color: rgb(71, 70, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.aclaracion{
    color: black;
    font-weight: bold;
}

.divCount{
    display: flex;
    width: 600px;
    margin-top: 10px;
    padding: 20px;

}