.cardtwo{
    display: inline-block;
    width: 330px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 5px;
    margin-top: 60px;
    text-align: center;
    transition: all 0.25s;
    background-color: blue;

    
}

.cardtwo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.imgCardtwo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 220px;
}

.imgCard{
    width: 330;
    height: 220px;
}

h4{
    font-weight: 600;
    color: black;
}

p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

span{
    font-weight: bold;
    color: black;
}