.carrito{
    display: flex;
    flex-direction: row;
}

img{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-left: 50px;
}

h6{
    color: white;
    text-align: center;
}