.nav1{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: black;
    top: 0;
    
    
}

.titu{
    text-align: start;
    color: yellow;
    padding: 10px;  
}

.botonera{ 
    display: flex;
    background-color: black;
    width: 80%;
    height:8%;  
    justify-content: flex-end;
    margin-top: 50px;
}

.botonNav{    
    background: yellow;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 10px;
}

.botonNav:hover {
    background: gray;
}



